.list-group {
  margin: 4rem auto;
}

.list-group .list-group-item:first-child,
.list-group .list-group-item:last-child {
  border-radius: .5rem;
}

.list-group a, .list-group a.active {
  margin: .5rem;
  background-color: rgba(28, 35, 49, .8);
  border-radius: .5rem;
  color: white;
}

.list-group a:hover {
  color: white;
  background-color: rgba(0, 188, 210, .8);
}