html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(69, 90, 100);
  font-weight: normal;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

* {
  -webkit-tap-highlight-color: transparent;
}

ul,
ol,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item a.active {
  font-weight: 400;
  font-size: 1.15rem;
  color: #00bcd4 !important;
}

img {
  border-radius: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

img:hover {
  border-radius: 20px;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}